VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DISCORD_PLAYMAKER_SIGNALS_WEBHOOK_URL=
DISCORD_PLAYMAKER_CROWN_ICON_URL=
PLAYMAKER_WEBHOOK_SECRET=
VITE_GOOGLE_ADS_ID=AW-18068394381
VITE_GOOGLE_ADS_CONVERSION_LABEL=2Ku8CNzH4bocEI2j16dD
